<%- include('../includes/head.ejs')%>

</head>
<body>
    <%- include('../includes/navigation.ejs')%>

    <main class="detail-page">
        <div class="detail-page__title">
            <h1>Orders</h1>
            <div class="detail-page-bg">
                <img src="../../img/caralog10.jpg" alt="" role="presentation">
            </div>
        </div>

        <div class="container">
            <div class="detail-page__body is--second">
                 <% if (orders.lengh <= 0) {%>
                 <h1>This is orders page</h1>
                 <% }  else {%>

                 <ul class="cart__item-list">
                     <% orders.forEach(order =>{%>
                     <li class="cart__item">
                         <div class="cart__item-number">
                             <p>#<%= order.id %></p>
                         </div>
                         
                         <ul class="cart__item-title">
                             <% order.products.forEach(item =>{ %>
                             <li><%= item.title %> (<%= item.orderItem.quantity %>)</li>
                             <% })%>

                         </ul>
                     </li>

                     <% });%>


                 </ul>

                 <% } %>
            </div>
        </div>
    </main>
</body>

<%- include('../includes/end.ejs')%>