<%- include('../includes/head.ejs')%>

</head>

<body>
    <%- include('../includes/navigation.ejs')%>

    <main class="detail-page">
        <div class="detail-page__title">
            <h1><%= product.title%></h1>
        </div>

        <div class="container">
            <div class="detail-page__body">
                <div class="image">
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                </div>

                <div class="text">
                    <p><%= product.description %></p>
                </div>
            </div>

            <div class="detail-page__footer">
                <h2 class="detail-price"><%= product.price %> $</h2>

                <%-include('../includes/add-product.ejs')%>
            </div>
        </div>
    </main>
</body>

<%- include('../includes/end.ejs')%>